# Loading the data and packages

In [11]:
import pandas as pd
import numpy as np
#Loading the data
data= pd.read_csv('EnquiryTotal.csv')

# List all column names

In [12]:
data.columns.tolist()

['Enquiry.Date',
 'Enquiry.Time',
 'Enquiry.Day',
 'Allocated.Time',
 'Web.or.Phone',
 'Hotkey.',
 'Number.of.Conversation.RCD',
 'Number.of.Quote.Templates.Sent.to.client',
 'Holiday.Type',
 'Accommodation.type',
 'Departure.Airport',
 'DepartureDate',
 'Lead.Time..weeks.',
 'Destination.1',
 'Duration',
 'Adults',
 'Children',
 'Infants',
 'Transport.Type',
 'Answered.Questionnaire.',
 'Questionnaire.Notes.Completed',
 'Title',
 'Any.Enquiry.Comments.',
 'Booked.Status']

# Rename column names

In [13]:
data.columns = ['Date',
 'EnquiryTime',
 'EnquiryDay',
 'AllocatedTime',
 'WeborPhone',
 'Hotkey',
 'NumberofConversationRCD',
 'TemplatesSent',
 'HolidayType',
 'Accommodationtype',
 'DepartureAirport',
 'DepartureDate',
 'Lead.Timeweeks.',
 'Destination1',
 'Duration',
 'Adults',
 'Children',
 'Infants',
 'TransportType',
 'Answered.Questionnaire',
 'NotesCompleted',
 'Title',
 'Any.Enquiry.Comments',
 'BookedStatus']

# View first 10 rows (Data.tail for last)

In [14]:
data.head(10)

,Date,EnquiryTime,EnquiryDay,AllocatedTime,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,...,Duration,Adults,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus
0,5/18/2018,9:00,Friday,3d 2h 46m,WEB,NaN,0,1,Cruise + Stay,Hotel,...,7.0,2,0,0,Return transfers,NO,NO,Mr,NO,NO
1,2/18/2018,19:46,Sunday,1d 0h 20m,WEB,NaN,0,1,Accommodation Only,Villa,...,7.0,3,2,0,Return transfers,NO,NO,Mr,NO,NO
2,1/5/2018,23:38,Friday,2d 22h 13m,WEB,NaN,0,1,Package Holiday,Villa,...,6.0,4,0,0,Return transfers,YES,YES,Mr,NO,NO
3,1/30/2019,20:21,Wednesday,0d 12h 56m,WEB,Hot Key,1,1,Multi Centre,NaN,...,10.0,4,0,0,Return transfers,YES,YES,Dr,NO,NO
4,1/26/2019,12:42,Saturday,0d 0h 3m,WEB,Hot Key,3,3,Package Holiday,Hotel,...,10.0,3,3,0,Return transfers,NO,NO,Dr,YES,NO
5,1/22/2019,12:19,Tuesday,0d 0h 2m,WEB,Hot Key,3,2,Package Holiday,Hotel,...,10.0,2,2,0,Return transfers,NO,NO,Dr,YES,YES
6,1/12/2019,20:13,Saturday,0d 16h 10m,WEB,Hot Key,3,2,Package Holiday,Hotel,...,14.0,2,2,0,Return transfers,YES,NO,Dr,NO,NO
7,1/2/2019,17:09,Wednesday,0d 0h 2m,WEB,Hot Key,1,1,Multi Centre,NaN,...,14.0,2,2,0,Return transfers,YES,YES,Dr,NO,NO
8,12/27/2018,15:39,Thursday,0d 0h 2m,WEB,Hot Key,0,1,Package Holiday,Villa,...,10.0,2,3,0,Return transfers,NO,NO,Dr,NO,NO
9,12/26/2018,21:08,Wednesday,1d 21h 44m,WEB,Hot Key,0,1,Package Holiday,Hotel,...,7.0,2,1,1,Return transfers,YES,NO,Dr,NO,NO

# Check data type

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178347 entries, 0 to 178346
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Date                     178347 non-null  object
 1   EnquiryTime              178347 non-null  object
 2   EnquiryDay               178347 non-null  object
 3   AllocatedTime            165064 non-null  object
 4   WeborPhone               178347 non-null  object
 5   Hotkey                   49251 non-null   object
 6   NumberofConversationRCD  178347 non-null  int64
 7   TemplatesSent            178347 non-null  int64
 8   HolidayType              178347 non-null  object
 9   Accommodationtype        165740 non-null  object
 10  DepartureAirport         178199 non-null  object
 11  DepartureDate            178347 non-null  object
 12  Lead.Timeweeks.          178347 non-null  int64
 13  Destination1             178322 non-null  object
 14  Duration                 178322 non-null  float64
 15  Adults                   178347 non-null  int64
 16  Children                 178347 non-null  int64
 17  Infants                  178347 non-null  int64
 18  TransportType            172508 non-null  object
 19  Answered.Questionnaire   178347 non-null  object
 20  NotesCompleted           178347 non-null  object
 21  Title                    178347 non-null  object
 22  Any.Enquiry.Comments     178347 non-null  object
 23  BookedStatus             178347 non-null  object
dtypes: float64(1), int64(6), object(17)
memory usage: 32.7+ MB

# Change data type

In [16]:
data.Adults=data.Adults.astype(int)

# Sorting Data

In [17]:
data.sort_values(['EnquiryDay','WeborPhone'],ascending=[1,0])

,Date,EnquiryTime,EnquiryDay,AllocatedTime,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,...,Duration,Adults,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus
0,5/18/2018,9:00,Friday,3d 2h 46m,WEB,NaN,0,1,Cruise + Stay,Hotel,...,7.0,2,0,0,Return transfers,NO,NO,Mr,NO,NO
2,1/5/2018,23:38,Friday,2d 22h 13m,WEB,NaN,0,1,Package Holiday,Villa,...,6.0,4,0,0,Return transfers,YES,YES,Mr,NO,NO
12,9/14/2018,23:08,Friday,0d 15h 3m,WEB,Hot Key,6,5,Multi Centre,Hotel,...,14.0,4,0,0,Return transfers,YES,NO,Dr,YES,NO
19,4/13/2018,22:14,Friday,0d 12h 26m,WEB,Hot Key,1,1,Package Holiday,Hotel,...,14.0,3,1,0,Return transfers,YES,YES,Dr,NO,YES
28,1/4/2019,10:14,Friday,2d 23h 32m,WEB,NaN,0,1,Package Holiday,Hotel,...,14.0,2,0,0,Return transfers,YES,NO,Dr,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178338,8/16/2017,12:56:40,Wednesday,49d 2h 28m,PHONE,NaN,2,1,Package Holiday,Hotel,...,14.0,4,0,0,NaN,NO,NO,Mr,NO,NO
178339,8/16/2017,12:55:42,Wednesday,0 m,PHONE,NaN,0,1,Package Holiday,Hotel,...,14.0,2,3,0,NaN,NO,NO,Mr,NO,NO
178340,8/16/2017,13:18:47,Wednesday,18d 20h 37m,PHONE,NaN,0,1,Package Holiday,None,...,14.0,10,0,0,NaN,NO,NO,Mr,NO,NO
178341,8/16/2017,19:17:57,Wednesday,18d 14h 38m,PHONE,NaN,10,1,Multi Centre,Hotel,...,7.0,2,0,0,NaN,NO,NO,Mr,NO,NO
178342,8/16/2017,16:12:04,Wednesday,0 m,PHONE,NaN,6,3,Cruise + Stay,Hotel,...,14.0,2,0,0,NaN,NO,NO,Mr,NO,NO

# Select all except 1 field

In [18]:
data.loc[:, data.columns != 'Infants']

,Date,EnquiryTime,EnquiryDay,AllocatedTime,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,...,Destination1,Duration,Adults,Children,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus
0,5/18/2018,9:00,Friday,3d 2h 46m,WEB,NaN,0,1,Cruise + Stay,Hotel,...,MEXICO,7.0,2,0,Return transfers,NO,NO,Mr,NO,NO
1,2/18/2018,19:46,Sunday,1d 0h 20m,WEB,NaN,0,1,Accommodation Only,Villa,...,Orlando,7.0,3,2,Return transfers,NO,NO,Mr,NO,NO
2,1/5/2018,23:38,Friday,2d 22h 13m,WEB,NaN,0,1,Package Holiday,Villa,...,FLORIDA,6.0,4,0,Return transfers,YES,YES,Mr,NO,NO
3,1/30/2019,20:21,Wednesday,0d 12h 56m,WEB,Hot Key,1,1,Multi Centre,NaN,...,Los Angeles,10.0,4,0,Return transfers,YES,YES,Dr,NO,NO
4,1/26/2019,12:42,Saturday,0d 0h 3m,WEB,Hot Key,3,3,Package Holiday,Hotel,...,Walt Disney World Resort,10.0,3,3,Return transfers,NO,NO,Dr,YES,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,8/16/2017,16:12:04,Wednesday,0 m,PHONE,NaN,6,3,Cruise + Stay,Hotel,...,FLORIDA,14.0,2,0,NaN,NO,NO,Mr,NO,NO
178343,8/15/2017,12:11:38,Tuesday,2d 21h 9m,PHONE,NaN,0,0,Package Holiday,Villa,...,FLORIDA,14.0,2,0,NaN,NO,NO,Mr,NO,NO
178344,8/15/2017,11:32:24,Tuesday,6d 6h 46m,PHONE,NaN,0,1,Package Holiday,Hotel,...,Walt Disney World Resort,10.0,2,0,NaN,NO,NO,Mr,NO,NO
178345,8/15/2017,11:21:27,Tuesday,6d 23h 13m,PHONE,NaN,0,1,Package Holiday,None,...,CARIBBEAN,14.0,2,0,NaN,NO,NO,Mr,NO,NO
178346,8/15/2017,11:51:10,Tuesday,3d 23h 44m,WEB,NaN,0,0,Accommodation Only,Hotel,...,FLORIDA,14.0,1,0,NaN,NO,NO,Mr,NO,NO

# Drop multiple columns

In [19]:
data.loc[:, ~data.columns.isin(['Infants', 'Children'])]

,Date,EnquiryTime,EnquiryDay,AllocatedTime,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,...,Lead.Timeweeks.,Destination1,Duration,Adults,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus
0,5/18/2018,9:00,Friday,3d 2h 46m,WEB,NaN,0,1,Cruise + Stay,Hotel,...,30,MEXICO,7.0,2,Return transfers,NO,NO,Mr,NO,NO
1,2/18/2018,19:46,Sunday,1d 0h 20m,WEB,NaN,0,1,Accommodation Only,Villa,...,34,Orlando,7.0,3,Return transfers,NO,NO,Mr,NO,NO
2,1/5/2018,23:38,Friday,2d 22h 13m,WEB,NaN,0,1,Package Holiday,Villa,...,33,FLORIDA,6.0,4,Return transfers,YES,YES,Mr,NO,NO
3,1/30/2019,20:21,Wednesday,0d 12h 56m,WEB,Hot Key,1,1,Multi Centre,NaN,...,28,Los Angeles,10.0,4,Return transfers,YES,YES,Dr,NO,NO
4,1/26/2019,12:42,Saturday,0d 0h 3m,WEB,Hot Key,3,3,Package Holiday,Hotel,...,76,Walt Disney World Resort,10.0,3,Return transfers,NO,NO,Dr,YES,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,8/16/2017,16:12:04,Wednesday,0 m,PHONE,NaN,6,3,Cruise + Stay,Hotel,...,0,FLORIDA,14.0,2,NaN,NO,NO,Mr,NO,NO
178343,8/15/2017,12:11:38,Tuesday,2d 21h 9m,PHONE,NaN,0,0,Package Holiday,Villa,...,115,FLORIDA,14.0,2,NaN,NO,NO,Mr,NO,NO
178344,8/15/2017,11:32:24,Tuesday,6d 6h 46m,PHONE,NaN,0,1,Package Holiday,Hotel,...,50,Walt Disney World Resort,10.0,2,NaN,NO,NO,Mr,NO,NO
178345,8/15/2017,11:21:27,Tuesday,6d 23h 13m,PHONE,NaN,0,1,Package Holiday,None,...,46,CARIBBEAN,14.0,2,NaN,NO,NO,Mr,NO,NO
178346,8/15/2017,11:51:10,Tuesday,3d 23h 44m,WEB,NaN,0,0,Accommodation Only,Hotel,...,0,FLORIDA,14.0,1,NaN,NO,NO,Mr,NO,NO

# Select multiple columns

In [20]:
data.iloc[:,[0,1,4]]

             Date EnquiryTime WeborPhone
0       5/18/2018        9:00        WEB
1       2/18/2018       19:46        WEB
2        1/5/2018       23:38        WEB
3       1/30/2019       20:21        WEB
4       1/26/2019       12:42        WEB
...           ...         ...        ...
178342  8/16/2017    16:12:04      PHONE
178343  8/15/2017    12:11:38      PHONE
178344  8/15/2017    11:32:24      PHONE
178345  8/15/2017    11:21:27      PHONE
178346  8/15/2017    11:51:10        WEB

[178347 rows x 3 columns]

# Select columns 0 to 2

In [21]:
data.iloc[:, 0:2]

             Date EnquiryTime
0       5/18/2018        9:00
1       2/18/2018       19:46
2        1/5/2018       23:38
3       1/30/2019       20:21
4       1/26/2019       12:42
...           ...         ...
178342  8/16/2017    16:12:04
178343  8/15/2017    12:11:38
178344  8/15/2017    11:32:24
178345  8/15/2017    11:21:27
178346  8/15/2017    11:51:10

[178347 rows x 2 columns]

# Selecting multiple required columns

In [22]:
data.iloc[:, np.r_[0:3,15:19,22,23]]

,Date,EnquiryTime,EnquiryDay,Adults,Children,Infants,TransportType,Any.Enquiry.Comments,BookedStatus
0,5/18/2018,9:00,Friday,2,0,0,Return transfers,NO,NO
1,2/18/2018,19:46,Sunday,3,2,0,Return transfers,NO,NO
2,1/5/2018,23:38,Friday,4,0,0,Return transfers,NO,NO
3,1/30/2019,20:21,Wednesday,4,0,0,Return transfers,NO,NO
4,1/26/2019,12:42,Saturday,3,3,0,Return transfers,YES,NO
...,...,...,...,...,...,...,...,...,...
178342,8/16/2017,16:12:04,Wednesday,2,0,0,NaN,NO,NO
178343,8/15/2017,12:11:38,Tuesday,2,0,0,NaN,NO,NO
178344,8/15/2017,11:32:24,Tuesday,2,0,0,NaN,NO,NO
178345,8/15/2017,11:21:27,Tuesday,2,0,0,NaN,NO,NO
178346,8/15/2017,11:51:10,Tuesday,1,0,0,NaN,NO,NO

# Select columns which have enquiry in the name

In [23]:
data.filter(like='Enquiry')

       EnquiryTime EnquiryDay Any.Enquiry.Comments
0             9:00     Friday                   NO
1            19:46     Sunday                   NO
2            23:38     Friday                   NO
3            20:21  Wednesday                   NO
4            12:42   Saturday                  YES
...            ...        ...                  ...
178342    16:12:04  Wednesday                   NO
178343    12:11:38    Tuesday                   NO
178344    11:32:24    Tuesday                   NO
178345    11:21:27    Tuesday                   NO
178346    11:51:10    Tuesday                   NO

[178347 rows x 3 columns]

# Select columns based on multiple patterns

In [24]:
data.filter(regex='Type|Enquiry')

,EnquiryTime,EnquiryDay,HolidayType,TransportType,Any.Enquiry.Comments
0,9:00,Friday,Cruise + Stay,Return transfers,NO
1,19:46,Sunday,Accommodation Only,Return transfers,NO
2,23:38,Friday,Package Holiday,Return transfers,NO
3,20:21,Wednesday,Multi Centre,Return transfers,NO
4,12:42,Saturday,Package Holiday,Return transfers,YES
...,...,...,...,...,...
178342,16:12:04,Wednesday,Cruise + Stay,NaN,NO
178343,12:11:38,Tuesday,Package Holiday,NaN,NO
178344,11:32:24,Tuesday,Package Holiday,NaN,NO
178345,11:21:27,Tuesday,Package Holiday,NaN,NO
178346,11:51:10,Tuesday,Accommodation Only,NaN,NO

# Remove columns

In [25]:
data = data.drop(["EnquiryTime", "AllocatedTime"],axis=1)

# Check data type

In [26]:
print(data.dtypes)

Date                        object
EnquiryDay                  object
WeborPhone                  object
Hotkey                      object
NumberofConversationRCD      int64
TemplatesSent                int64
HolidayType                 object
Accommodationtype           object
DepartureAirport            object
DepartureDate               object
Lead.Timeweeks.              int64
Destination1                object
Duration                   float64
Adults                       int32
Children                     int64
Infants                      int64
TransportType               object
Answered.Questionnaire      object
NotesCompleted              object
Title                       object
Any.Enquiry.Comments        object
BookedStatus                object
dtype: object

# Change date to date format and extract year and month

In [27]:
data['Date'] = pd.to_datetime(data['Date'])
data['year'], data['month'] = data['Date'].dt.year, data['Date'].dt.month
# Remove date
data = data.drop(['Date'],axis=1)
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,NaN,0,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,0,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,NaN,0,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,NaN,0,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,0,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Hot Key,1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,0,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Hot Key,3,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,NaN,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,NaN,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,NaN,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,NaN,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,NaN,0,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Understand numerical variables

In [28]:
data.describe()

,NumberofConversationRCD,TemplatesSent,Lead.Timeweeks.,Duration,Adults,Children,Infants,year,month
count,178347.000000,178347.000000,178347.000000,178322.000000,178347.000000,178347.000000,178347.000000,178347.000000,178347.000000
mean,1.259489,1.341295,50.094445,13.106448,3.439301,1.047161,0.061571,2017.586256,5.922679
std,2.960769,1.147345,27.735302,3.630358,2.030107,1.237065,0.674152,0.602170,3.499919
min,0.000000,0.000000,-44.000000,0.000000,1.000000,0.000000,0.000000,2017.000000,1.000000
25%,0.000000,1.000000,29.000000,11.000000,2.000000,0.000000,0.000000,2017.000000,3.000000
50%,0.000000,1.000000,48.000000,14.000000,3.000000,1.000000,0.000000,2018.000000,6.000000
75%,1.000000,1.000000,68.000000,14.000000,4.000000,2.000000,0.000000,2018.000000,9.000000
max,356.000000,29.000000,216.000000,63.000000,58.000000,25.000000,255.000000,2019.000000,12.000000

# Understand categorical variables (use include='all' to show both numerical and categorical)

In [29]:
data.describe(include=[object])

,EnquiryDay,WeborPhone,Hotkey,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Destination1,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus
count,178347,178347,49251,178347,165740,178199,178347,178322,172508,178347,178347,178347,178347,178347
unique,7,2,1,14,6,35,1633,125,3,2,2,5,2,2
top,Sunday,WEB,Hot Key,Package Holiday,Hotel,Manchester,4/6/2019,FLORIDA,Fully comp car hire,NO,NO,Mr,NO,NO
freq,30865,154890,49251,134230,91055,54203,1461,52618,75870,103383,142604,77520,136273,168182

 # Replacing NAN values

In [32]:
data["Hotkey"].fillna("No",inplace=True)
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,No,0,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,0,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,No,0,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,No,0,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,0,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Hot Key,1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,0,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Hot Key,3,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,No,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,No,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,No,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,No,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,No,0,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Checking frequency of variables

In [33]:

pd.value_counts(data["WeborPhone"])

WEB      154890
PHONE     23457
Name: WeborPhone, dtype: int64

# Replace specific values in a dataframe column

In [34]:
data.Hotkey = data.Hotkey.replace({"NaN":"No",
                                  "Hot Key":"Yes"})
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,No,0,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,0,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,No,0,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,No,0,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,0,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Yes,1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,0,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Yes,3,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,No,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,No,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,No,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,No,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,No,0,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,0,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Conditional changes (if web then hotkey is error)

In [46]:
data.loc[data['WeborPhone']== "WEB",['Hotkey']] = 'Error'
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,Error,0,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,1,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,Error,0,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,Error,0,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,1,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Error,1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,1,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Error,3,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,No,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,No,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,No,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,No,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,Error,0,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Conditional changes (if web then hotkey is error and numberofconversation is error1)

In [47]:
data.loc[data['WeborPhone']== "WEB",['Hotkey','NumberofConversationRCD']] = ['Error','Error1']
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,Error,Error1,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,1,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,Error,Error1,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,Error,Error1,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,1,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Error,Error1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,1,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Error,Error1,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,No,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,No,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,No,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,No,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,Error,Error1,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Replace numerical variables with median or mode (replace 0 with the median)

In [35]:

data.Children=data.Children.replace(0,data.Children.median())
data

,EnquiryDay,WeborPhone,Hotkey,NumberofConversationRCD,TemplatesSent,HolidayType,Accommodationtype,DepartureAirport,DepartureDate,Lead.Timeweeks.,...,Children,Infants,TransportType,Answered.Questionnaire,NotesCompleted,Title,Any.Enquiry.Comments,BookedStatus,year,month
0,Friday,WEB,No,0,1,Cruise + Stay,Hotel,Birmingham,12/14/2018,30,...,1,0,Return transfers,NO,NO,Mr,NO,NO,2018,5
1,Sunday,WEB,No,0,1,Accommodation Only,Villa,London All,10/19/2018,34,...,2,0,Return transfers,NO,NO,Mr,NO,NO,2018,2
2,Friday,WEB,No,0,1,Package Holiday,Villa,Edinburgh,8/19/2018,33,...,1,0,Return transfers,YES,YES,Mr,NO,NO,2018,1
3,Wednesday,WEB,Yes,1,1,Multi Centre,NaN,Manchester,8/11/2019,28,...,1,0,Return transfers,YES,YES,Dr,NO,NO,2019,1
4,Saturday,WEB,Yes,3,3,Package Holiday,Hotel,Belfast,7/11/2020,76,...,3,0,Return transfers,NO,NO,Dr,YES,NO,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178342,Wednesday,PHONE,No,6,3,Cruise + Stay,Hotel,London All,8/16/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178343,Tuesday,PHONE,No,0,0,Package Holiday,Villa,Manchester,10/27/2019,115,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178344,Tuesday,PHONE,No,0,1,Package Holiday,Hotel,London Gatwick,8/1/2018,50,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178345,Tuesday,PHONE,No,0,1,Package Holiday,None,Glasgow,7/2/2018,46,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8
178346,Tuesday,WEB,No,0,0,Accommodation Only,Hotel,Any Airport,8/15/2017,0,...,1,0,NaN,NO,NO,Mr,NO,NO,2017,8

# Merge two datasets

In [36]:
# data frame 1
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
  'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1 = pd.DataFrame(d1)
df1

   Customer_id     Product
0            1        Oven
1            2        Oven
2            3        Oven
3            4  Television
4            5  Television
5            6  Television

In [37]:
# data frame 2
d2 = {'Customer_id':pd.Series([2,4,6,7,8]),
    'State':pd.Series(['California','California','Texas','New York','Indiana'])}
df2 = pd.DataFrame(d2)
df2

   Customer_id       State
0            2  California
1            4  California
2            6       Texas
3            7    New York
4            8     Indiana

In [38]:
#inner join in python pandas (inner,outer,left,right)
 
inner_join_df= pd.merge(df1, df2, on='Customer_id', how='inner')
inner_join_df

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas

# Saving to CSV

In [39]:
inner_join_df.to_csv('modified.txt',index=False)